header {
  display: flex;
  justify-content: space-between;
  background-color: black;

  .logotext {
    display: flex;
    gap: 10px;

    .h1 {
      padding: 30px;
      font-size: 40px;
      font-style: italic;

      a {
        color: $primary-color;
        text-decoration: none;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
.items {
  display: flex;
  gap: 60px;
  padding: 40px;
}

.items a {
  color: $primary-color;
  list-style-type: none;
  font-size: 20px;
  text-decoration: none;
}
.active {
  text-decoration: underline double;
}

.items__menu:hover {
  opacity: 0.7;
}

.datos {
  display: grid;
  width: 100%;
  height: 70vh;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5 1fr);
  grid-template-areas:
    "dato1"
    "dato2"
    "dato3"
    "dato4"
    "dato5";

  .dato1 {
    grid-area: dato1;
    text-align: center;
    font-style: italic;
    font-size: 30px;
    text-decoration: underline double;
    padding: 30px;
    background-color: black;
    color: $primary-color;
  }
  .dato2 {
    grid-area: dato2;
    text-align: center;
    font-style: italic;
    font-size: 30px;
    text-decoration: underline;
    padding: 30px;
    background-color: black;
    color: $primary-color;
  }
  .dato3 {
    grid-area: dato3;
    text-align: center;
    font-style: italic;
    font-size: 30px;
    text-decoration: underline;
    padding: 30px;
    background-color: black;
    color: $primary-color;
  }
  .dato4 {
    grid-area: dato4;
    text-align: center;
    font-style: italic;
    font-size: 30px;
    text-decoration: underline;
    padding: 30px;
    background-color: black;
    color: $primary-color;
  }
  .dato5 {
    grid-area: dato5;
    text-align: center;
    font-style: italic;
    font-size: 30px;
    padding: 30px;
    background-color: black;
    color: $primary-color;
  }
}
